@import "./styles/base.css";
@import "./styles/layout.css";
@import "./styles/components.css";

@import "./styles/pages/home.css";
@import "./styles/pages/guides.css";
@import "./styles/pages/about.css";
@import "./styles/pages/profile.css";
